In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("pets.db")
print(conn)

<sqlite3.Connection object at 0x7f3930230130>

In [3]:
cursor = conn.cursor()
print(cursor)

<sqlite3.Cursor object at 0x7f39301f5ec0>

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS pets(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    type TEXT NOT NULL,
    age INTEGER,
    owner TEXT
);
""")
conn.commit()

In [13]:
name = "Eva"
typ = "cat"
age = 0.2
owner = "Josh"
cursor.execute(f"INSERT INTO pets(name,type,age,owner) VALUES (?, ?, ?, ?)", (name,typ,age,owner))
conn.commit()

In [20]:
res = cursor.execute("""SELECT * FROM PETS""").fetchall()
res

[(1, 'Dorthy', 'dog', 9, 'Greg'),
 (2, 'Zee', 'dog', 24, 'Josh'),
 (4, 'Eva', 'cat', 0.2, 'Josh')]

In [17]:
res = cursor.execute("""SELECT name FROM PETS WHERE type=?""",("cat",)).fetchall()
res

[('Eva',)]

In [19]:
cursor.execute("UPDATE PETS set AGE = ? WHERE name = ?", (24,"Zee"))
conn.commit()